self-destruct/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.1.0.0",
    "parameters": {
        "utcTime": {
            "type": "string",
            "metadata": {
                "description": "exact time you want the resource to be deleted, within the next month"
            }
        },
        "sqlResourceGroupName": {
            "type": "string",
            "metadata": {
                "description": "The resource group containing the sql database"
            }
        },
        "sqlServerName": {
            "type": "string",
            "metadata": {
                "description": "The sql server containing the database to teardown"
            }
        },
        "sqlDbName": {
            "type": "string",
            "metadata": {
                "description": "The sql database you want to teardown on the given sqlServerName"
            }
        },
        "servicePrincipalClientId": {
            "type": "string",
            "metadata": {
                "description": "A service principal with at least contributor permissions to the subscription"
            }
        },
        "servicePrincipalClientSecret": {
            "type": "securestring",
            "metadata": {
                "description": "The client secret for the given servicePrincipalClientId"
            }
        },
        "servicePrincipalTenantId": {
            "type": "string",
            "metadata": {
                "description": "The tenant id for the servicePrincipalClientId"
            }
        }
    },
    "variables": {
        "name" : "[concat('_teardown-', uniqueString(resourceGroup().id))]",
        "resourceGroupName": "[resourceGroup().name]",
        "sqlResourceGroupName": "[parameters('sqlResourceGroupName')]",
        "sqlServerName": "[parameters('sqlServerName')]",
        "sqlDbName": "[parameters('sqlDbName')]",
        "resourceGroupApiVersion": "2014-04-01",
        "sqlDatabaseApiVersion": "2017-10-01-preview",
        "resourceGroupUri": "[concat('https://management.azure.com', subscription().id, '/resourceGroups/', variables('resourceGroupName'), '?api-version=', variables('resourceGroupApiVersion'))]",
        "sqlDatabaseUri": "[concat('https://management.azure.com', subscription().id, '/resourceGroups/', variables('sqlResourceGroupName'), '/providers/Microsoft.Sql/servers/', variables('sqlServerName'), '/databases/', variables('sqlDbName'), '?api-version=', variables('sqlDatabaseApiVersion'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[variables('name')]",
            "apiVersion": "2017-07-01",
            "location": "[resourceGroup().location]",
            "tags": {
                "self-destruct-time": "[parameters('utcTime')]"
            },
            "properties": {
                "state": "Enabled",
                "parameters": {},
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "clientId": {
                            "type": "string",
                            "defaultValue": "[parameters('servicePrincipalClientId')]"
                        },
                        "clientSecret": {
                            "type": "securestring",
                            "defaultValue": "[parameters('servicePrincipalClientSecret')]"
                        },
                        "tenantId": {
                            "type": "string",
                            "defaultValue": "[parameters('servicePrincipalTenantId')]"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Month",
                                "interval": 16,
                                "startTime": "[parameters('utcTime')]",
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "DeleteResourceGroup": {
                            "runAfter": { },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.core.windows.net/",
                                    "clientId": "@{parameters('clientId')}",
                                    "secret": "@{parameters('clientSecret')}",
                                    "tenant": "@{parameters('tenantId')}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "DELETE",
                                "uri": "[variables('resourceGroupUri')]"
                            }
                        },
                        "DeleteSqlDatabase": {
                            "runAfter": { },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.core.windows.net/",
                                    "clientId": "@{parameters('clientId')}",
                                    "secret": "@{parameters('clientSecret')}",
                                    "tenant": "@{parameters('tenantId')}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "DELETE",
                                "uri": "[variables('sqlDatabaseUri')]"
                            }
                        },
                        "DeleteSelf": {
                            "runAfter": {
                                "DeleteResourceGroup": [
                                    "Succeeded"
                                ],
                                "DeleteSqlDatabase": [
                                    "Succeeded"
                                ]                                
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.core.windows.net/",
                                    "clientId": "@{parameters('clientId')}",
                                    "secret": "@{parameters('clientSecret')}",
                                    "tenant": "@{parameters('tenantId')}",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "method": "DELETE",
                                "uri": "[concat('https://management.azure.com', resourceId('Microsoft.Logic/workflows', variables('name')), '?api-version=2017-07-01')]"
                            }
                        }           
                    },
                    "outputs": {}
                }
            },
            "dependsOn": []
        }
    ]
}